:root {
    --cor-de-fundo: #EBECEE; 
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "poppins";
}   


.banner {
    background: var(--azul-degrade);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-weight: 700;
    font-size: 18px;
    color: var(--branco);
}

.banner__texto {
    font-weight: 500;
    color: var(--branco);
    padding-bottom: 1em;
    padding: 1em 0;
}

.banner__pesquisa {
    border: 1px solid white;
    color: var(--branco);
    font-size: 14px ;
    border-radius: 40px;
    width: 90%;
    text-align: center;
    background-color: transparent;
    padding: 1em;
}

.banner__pesquisa::placeholder {
     color: var(--branco);
    font-size: 14px;
    font-weight: 400;
    background: url(../img/lupa.svg) no-repeat;
    background-position: 1em;
}